.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.text_container{
  text-align: center;
}

.page{
  font-weight: bold;
}
